@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Source+Sans+Pro&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;

}

.card {
    border: 2px solid black;
    display: flex;
    height: 150px;
    width: 55%;
    margin: auto;
    border-radius: 20px;
}

.card-image img{
    display: block;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px; 
}
.card-container {
    margin: 0 0 0 15px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.content {
    display: flex;
    height: 250px;
    border: 1px solid black;
    justify-content: space-between;
    flex-direction: column;
    width: 200px;

}

.box {
    background: #0479D9;
    height: 50px;
}

#outPopUp {
    background: red;
    width: 300px;
    height: 200px;
    /* top: 50%; */
    /* left: 50%; */
    /* margin: 0px 0 0 40%; */
    margin: auto
}
  
 /* 

    position: absolute;
    
    
    z-index: 15;
    
    
    

*/